PANDAS

In [158]:
import pandas as pd
import conda
import numpy as np

In [159]:
#Creating Pandas Series with Default Index
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [160]:
#Creating Pandas Series with custom index
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1, 2, 3, 4, 5])
print(s)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [161]:
fruits = ['Orange','Banana','Mango']
fruits = pd.Series(fruits, index=[1, 2, 3])
print(fruits)

1    Orange
2    Banana
3     Mango
dtype: object

In [162]:
dct = {'name':'Asabeneh','country':'Finland','city':'Helsinki'}
s = pd.Series(dct)
print(s)

name       Asabeneh
country     Finland
city       Helsinki
dtype: object

In [163]:
#Creating a Constant Pandas Series
s = pd.Series(10, index = [1, 2, 3])
print(s)

1    10
2    10
3    10
dtype: int64

In [164]:
#Creating a Pandas Series Using Linspace
s = pd.Series(np.linspace(5, 20, 10)) # linspace(starting, end, items)
print(s)

0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

DATAFRAMES

In [165]:
#Creating DataFrames from List of Lists
data = [
    ['Asabeneh', 'Finland', 'Helsink'],
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names','Country','City'])
print(df)

      Names  Country       City
0  Asabeneh  Finland    Helsink
1     David       UK     London
2      John   Sweden  Stockholm

In [166]:
#Creating DataFrame Using Dictionary
data = {'Name': ['Asabeneh', 'David', 'John'], 'Country':[
    'Finland', 'UK', 'Sweden'], 'City': ['Helsiki', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland    Helsiki
1     David       UK     London
2      John   Sweden  Stockholm

In [167]:
#Creating DataFrames from a List of Dictionaries
data = [
    {'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

Reading CSV File Using Pandas

In [168]:
df = pd.read_csv('weight-height.csv')
print(df)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [169]:
#Data exploration
print(df.head()) # give five rows we can increase the number of rows by passing argument to the head() method

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [170]:
print(df.tail()) # tails give the last five rows, we can increase the rows by passing argument to tail method

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

In [171]:
print(df.shape) # as you can see 10000 rows and three columns

(10000, 3)

In [172]:
#to get the columns:
print(df.columns)

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [173]:
#getting a specific column using the key:
heights = df['Height'] # this is now a series
weights = df['Weight'] # this is now a series
print(len(heights)== len(weights))

True

In [174]:
print(heights.describe()) # give statistical information about height data

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [175]:
print(df.describe())  # describe can also give statistical information from a dataFrame

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [176]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB
None

Modifying the data frame

In [177]:
#Creating a DataFrame
data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"},
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [178]:
#adding a column 
weights = [74, 78, 69]
df['Weight'] = weights
heights = [173, 175, 169]
df['Height'] = heights
print(df)

       Name  Country       City  Weight  Height
0  Asabeneh  Finland   Helsinki      74     173
1     David       UK     London      78     175
2      John   Sweden  Stockholm      69     169

In [179]:
#Modifing columns values
df['Height'] = df['Height'] *0.0001
print(df)

       Name  Country       City  Weight  Height
0  Asabeneh  Finland   Helsinki      74  0.0173
1     David       UK     London      78  0.0175
2      John   Sweden  Stockholm      69  0.0169

In [180]:
#ahora creamos una columna que nos calcula el peso por la altura:
# Using functions makes our code clean, but you can calculate the bmi without one
def calculate_bmi ():
    weights = df['Weight']
    heights = df['Height']
    bmi = []
    for w,h in zip(weights, heights):
        b = w/(h*h)
        bmi.append(b)
    return bmi

bmi = calculate_bmi()
df['BMI'] = bmi
df

       Name  Country       City  Weight  Height            BMI
0  Asabeneh  Finland   Helsinki      74  0.0173  247251.829329
1     David       UK     London      78  0.0175  254693.877551
2      John   Sweden  Stockholm      69  0.0169  241588.179686

In [181]:
#Formatting DataFrame columns
df['BMI'] = round(df['BMI'], 1)
print(df)

       Name  Country       City  Weight  Height       BMI
0  Asabeneh  Finland   Helsinki      74  0.0173  247251.8
1     David       UK     London      78  0.0175  254693.9
2      John   Sweden  Stockholm      69  0.0169  241588.2

In [182]:
#añadimos dos columnas mas
birth_year = ['1769', '1985','1990']
current_year = pd.Series(2020, index=[0, 1,2])
df['Birth Year'] = birth_year
df['Current Year'] = current_year
df

,Name,Country,City,Weight,Height,BMI,Birth Year,Current Year
0,Asabeneh,Finland,Helsinki,74,0.0173,247251.8,1769,2020
1,David,UK,London,78,0.0175,254693.9,1985,2020
2,John,Sweden,Stockholm,69,0.0169,241588.2,1990,2020

Checking data types of Column values

In [183]:
print(df.Weight.dtype)

int64

In [184]:
df['Birth Year'].dtype # it gives string object , we should change this to number
df['Birth Year'] = df['Birth Year'].astype('int')
print(df['Birth Year'].dtype) # let's check the data type now

int64

In [185]:
df['Current Year'] = df['Current Year'].astype('int')
df['Current Year'].dtype

dtype('int64')

In [186]:
ages = df['Current Year'] - df['Birth Year'] #ahora ya podemos hacer operaciones con ellos
ages

0    251
1     35
2     30
dtype: int64

In [187]:
df['Ages'] = ages
print(df)

       Name  Country       City  Weight  Height       BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74  0.0173  247251.8        1769
1     David       UK     London      78  0.0175  254693.9        1985
2      John   Sweden  Stockholm      69  0.0169  241588.2        1990

   Current Year  Ages
0          2020   251
1          2020    35
2          2020    30

In [188]:
#hay un dato que esta mal así que para cambiarlo hacemos la mediana del resto
mean = int((35 + 30)/ 2)
print('Mean: ',mean)	#it is good to add some description to the output, so we know what is what
df.loc[0, 'Ages'] = mean
print(df)

Mean:  32
       Name  Country       City  Weight  Height       BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74  0.0173  247251.8        1769
1     David       UK     London      78  0.0175  254693.9        1985
2      John   Sweden  Stockholm      69  0.0169  241588.2        1990

   Current Year  Ages
0          2020    32
1          2020    35
2          2020    30

In [189]:
df['Ages']=df['Ages'].astype(int)
print(df)

       Name  Country       City  Weight  Height       BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74  0.0173  247251.8        1769
1     David       UK     London      78  0.0175  254693.9        1985
2      John   Sweden  Stockholm      69  0.0169  241588.2        1990

   Current Year  Ages
0          2020    32
1          2020    35
2          2020    30

In [190]:
#Boolean indexing
print(df[df['Ages'] > 32])
print(df[df['Ages'] < 32])

    Name Country    City  Weight  Height       BMI  Birth Year  Current Year  \
1  David      UK  London      78  0.0175  254693.9        1985          2020

   Ages
1    35
   Name Country       City  Weight  Height       BMI  Birth Year  \
2  John  Sweden  Stockholm      69  0.0169  241588.2        1990

   Current Year  Ages
2          2020    30

EJERCICIOS

In [191]:
#Read the hacker_news.csv file from data direct
file=pd.read_csv('hacker_news.csv')
print(file)
#Get the first five rows
print(file.head())
#Get the last five rows
print(file.tail())

             id                                              title  \
0      12224879                          Interactive Dynamic Video
1      11964716  Florida DJs May Face Felony for April Fools' W...
2      11919867       Technology ventures: From Idea to Enterprise
3      10301696  Note by Note: The Making of Steinway L1037 (2007)
4      10482257  Title II kills investment? Comcast and other I...
...         ...                                                ...
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
0                http://www.interactivedynamicvideo.com/         386
1      http://www.thewire.com/entertainment/2013/04/f...           2
2      https://www.amazon.com/Technology-Ventures-Ent...           3
3      http://www.nytimes.com/2007/11/07/movies/07ste...           8
4      http://arstechnica.com/business/2015/10/comcas...          53
...                                                  ...         ...
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
0                52       ne0phyte    8/4/2016 11:52
1                 1       vezycash   6/23/2016 22:20
2                 1        hswarna    6/17/2016 0:01
3                 2     walterbell    9/30/2015 4:12
4                22         Deinos   10/31/2015 9:48
...             ...            ...               ...
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

[20099 rows x 7 columns]
         id                                              title  \
0  12224879                          Interactive Dynamic Video
1  11964716  Florida DJs May Face Felony for April Fools' W...
2  11919867       Technology ventures: From Idea to Enterprise
3  10301696  Note by Note: The Making of Steinway L1037 (2007)
4  10482257  Title II kills investment? Comcast and other I...

                                                 url  num_points  \
0            http://www.interactivedynamicvideo.com/         386
1  http://www.thewire.com/entertainment/2013/04/f...           2
2  https://www.amazon.com/Technology-Ventures-Ent...           3
3  http://www.nytimes.com/2007/11/07/movies/07ste...           8
4  http://arstechnica.com/business/2015/10/comcas...          53

   num_comments      author       created_at
0            52    ne0phyte   8/4/2016 11:52
1             1    vezycash  6/23/2016 22:20
2             1     hswarna   6/17/2016 0:01
3             2  walterbell   9/30/2015 4:12
4            22      Deinos  10/31/2015 9:48
             id                                              title  \
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

In [192]:
#Get the title column as pandas series
title=file['title']
print(title)
#Count the number of rows and columns
print(file.shape)

0                                Interactive Dynamic Video
1        Florida DJs May Face Felony for April Fools' W...
2             Technology ventures: From Idea to Enterprise
3        Note by Note: The Making of Steinway L1037 (2007)
4        Title II kills investment? Comcast and other I...
                               ...
20094    How Purism Avoids Intels Active Management Tec...
20095            YC Application Translated and Broken Down
20096    Microkernels are slow and Elvis didn't do no d...
20097                        How Product Hunt really works
20098    RoboBrowser: Your friendly neighborhood web sc...
Name: title, Length: 20099, dtype: object
(20099, 7)

In [198]:
#Filter the titles which contain python
# case=False hace que no importe si es 'python' o 'Python'
python_titles = file[file['title'].str.contains('python', case=False)]
print(python_titles)

             id                                              title  \
102    10974870                From Python to Lua: Why We Switched
103    11244541          Ubuntu 16.04 LTS to Ship Without Python 2
144    10963528  Create a GUI Application Using Qt and Python i...
196    10716331  How I Solved GCHQ's Xmas Card with Python and ...
436    11895088  Unikernel Power Comes to Java, Node.js, Go, an...
...         ...                                                ...
19597  12061177  David Beazley  Python Concurrency from the Gro...
19852  10988468    Ask HN: How to automate Python apps deployment?
19862  11738470                          Moving Away from Python 2
19980  12524656                      Python vs. Julia Observations
19998  11735438  Show HN: Decorating: Animated pulsed for your ...

                                                     url  num_points  \
102    https://www.distelli.com/blog/using-lua-for-ou...         243
103    http://news.softpedia.com/news/ubuntu-16-04-lt...           2
144                        http://digitalpeer.com/s/c63e          21
196    http://matthewearl.github.io/2015/12/10/gchq-x...           6
436    http://www.infoworld.com/article/3082051/open-...           3
...                                                  ...         ...
19597        https://www.youtube.com/watch?v=MCs5OvhV9S4           2
19852                                                NaN           4
19862  https://asmeurer.github.io/blog/posts/moving-a...         227
19980  https://medium.com/@Jernfrost/python-vs-julia-...           2
19998             https://github.com/ryukinix/decorating           3

       num_comments        author        created_at
102             188      chase202   1/26/2016 18:17
103               1       _snydly    3/8/2016 10:39
144               1        zoodle   1/24/2016 19:01
196               1          kipi  12/11/2015 10:38
436               1  syslandscape   6/13/2016 16:23
...             ...           ...               ...
19597             1      bakery2k    7/9/2016 13:05
19852            18       aalhour   1/28/2016 14:55
19862           275     ngoldbaum   5/20/2016 15:14
19980             1   blacksmythe    9/18/2016 9:54
19998             1         lerax    5/20/2016 3:48

[160 rows x 7 columns]
ITS OVER LADIES AND GENTLEMEN, ITS OVER

In [200]:
#Filter the titles which contain JavaScrip
print(file[file['title'].str.contains('JavaScript', case=False)])

             id                                              title  \
267    12352636   Show HN: Hire JavaScript - Top JavaScript Talent
580    10871330  Python integration for the Duktape Javascript ...
811    10741251  Ask HN: Are there any projects or compilers wh...
1046   11343334  If you write JavaScript tools or libraries, bu...
1093   10422726  Rollup.js: A next-generation JavaScript module...
...         ...                                                ...
19349  11448301    Fotorama, a responsive JavaScript photo gallery
19548  12105148                 Another Kind of JavaScript Fatigue
19610  12203508  Lonely programmer detective uncovers the Mozil...
19885  12552131  Ask HN: Best Practices for CSS in a Modern Jav...
20069  12149183  Show HN: Parse recipe ingredients using JavaSc...

                                                     url  num_points  \
267                              https://www.hirejs.com/           1
580               https://pypi.python.org/pypi/pyduktape           3
811                                                  NaN           1
1046   https://medium.com/@Rich_Harris/how-to-not-bre...          48
1093                                 http://rollupjs.org          57
...                                                  ...         ...
19349                                http://fotorama.io/           1
19548  http://chrismm.com/blog/the-other-kind-of-java...           9
19610         http://stackoverflow.com/a/38677222/984780          29
19885                                                NaN           6
20069       https://github.com/herkyl/ingredients-parser           6

       num_comments          author        created_at
267               1        eibrahim   8/24/2016 15:16
580               1         stefano    1/9/2016 14:26
811               2         ggonweb  12/15/2015 23:26
1046             19     callumlocke   3/23/2016 10:54
1093             17         dmmalam   10/21/2015 0:02
...             ...             ...               ...
19349             1         alexkon    4/7/2016 15:59
19548             2    JacksCracked    7/16/2016 3:44
19610             8    luisperezphd    8/1/2016 16:07
19885             6        xwvvvvwx   9/21/2016 20:53
20069             2  zongitsrinzler   7/23/2016 11:35

[170 rows x 7 columns]
ITS OVER LADIES AND GENTLEMEN, ITS OVER

In [204]:
#Explore the data and make sense of it
print(file.shape)
print(file.info())
print(file.describe())
print('ITS OVER LADIES AND GENTLEMEN, ITS OVER')

(20099, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20099 entries, 0 to 20098
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20099 non-null  int64
 1   title         20099 non-null  object
 2   url           17659 non-null  object
 3   num_points    20099 non-null  int64
 4   num_comments  20099 non-null  int64
 5   author        20099 non-null  object
 6   created_at    20099 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB
None
                 id    num_points  num_comments
count  2.009900e+04  20099.000000  20099.000000
mean   1.131755e+07     50.296632     24.803025
std    6.964531e+05    107.110322     56.108639
min    1.017691e+07      1.000000      1.000000
25%    1.070172e+07      3.000000      1.000000
50%    1.128452e+07      9.000000      3.000000
75%    1.192613e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000
ITS OVER LADIES AND GENTLEMEN, ITS OVER